
    <section>
        <div class="container" style="position: relative; z-index: 2;">
            <div class="row">
                <div class="col-sm-8">

                    <h1>Lorem Ipsum is Simply</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <div class="section-inner">
                        <h1 class="center">Juster.app features</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <div class="section-inner">
                        <ul class="features">
                            <li><span class="photo-icon"></span>
                                <h3>Photo</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </li>
                            <li><span class="videos-icon"></span>
                                <h3>Videos</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </li>
                            <li><span class="scan-icon"></span>
                                <h3>Scan document</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </li>
                            <li><span class="sketch-icon"></span>
                                <h3>Sketch Flooorplan</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </li>
                            <li><span class="voice-icon"></span>
                                <h3>Voice Record</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </li>
                            <li><span class="checklist-icon"></span>
                                <h3>Check list</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </li>
                            <li><span class="schedule-icon"></span>
                                <h3>Schedule</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </li>
                            <li><span class="navigate-icon"></span>
                                <h3>Navigation</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </li>
                            <li><span class="connect-icon"></span>
                                <h3>Connect to dropbox</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">

                    <div class="section-inner">
                        <h1>Lorem Ipsum is Simply</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-wrap">
                        <div class="device-frame">
                            <div class="device">
                                <img src="@routes.Assets.versioned("images/screen.svg")" alt="" class="img-responsive">
                            </div>

                        </div>
                        <span class="arrow-left "></span>
                        <span class="arrow-right "></span>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-inner">
                        <h1>Lorem Ipsum is Simply</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                    </div>
                </div>
            </div>
        </div>
    </section>