@nav()
<header>
    <div class="carouselMain">

        <section class="slide-wrapper">
            <div id="myCarousel" class="carousel slide">
                <!-- Indicators -->
                <!--
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
             </ol>
-->

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item item1 active">
                        <div class="fill">
                            <div class="inner-content">
                                <div class="carousel-img">
                                    <img src="@routes.Assets.versioned("images/slide-1.png")" align="right" alt="" class="SliderImg img-responsive" />
                                </div>
                                <div class="carousel-desc carouselCaption">
                                    <h1>Lorem Ipsum is simply</h1>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
                                    <a class="downloadLink" href="#"><img src="@routes.Assets.versioned("images/app-store-badge.svg")" alt="" class="img-responsive"></a>
                                    <a class="downloadLink" href="#"><img src="@routes.Assets.versioned("images/google-play-badge.svg")" alt="" class="img-responsive"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item item2">
                        <div class="fill">
                            <div class="inner-content">
                                <div class="carousel-img">
                                    <img src="@routes.Assets.versioned("images/slide-2.png")" align="right" alt="" class="SliderImg img-responsive" />
                                </div>
                                <div class="carousel-desc carouselCaption">
                                    <h1>Lorem Ipsum is simply</h1>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
                                    <a class="downloadLink" href="#"><img src="@routes.Assets.versioned("images/app-store-badge.svg")" alt="" class="img-responsive"></a>
                                    <a class="downloadLink" href="#"><img src="@routes.Assets.versioned("images/google-play-badge.svg")" alt="" class="img-responsive"></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="click-mode">
            <img src="@routes.Assets.versioned("images/click-mode.png")" align="right" class="imgResponsive">
            <img src="@routes.Assets.versioned("images/slider-one-click.png")" align="right" class="imgResponsive blink">
        </div>
    </div>
</header>